Flask
Flask-SQLAlchemy
Flask-Login
Flask-WTF
WTForms
Werkzeug
python-dotenv
pytz
pyswisseph
requests
openai
bcrypt
email-validator
matplotlib
Pillow
numpy
python-dateutil
gunicorn
geopy
timezonefinder
astral
kerykeion